h1 {
    text-size-adjust: 36;
    text-align: center;
    font-size: 300%;
    color: green;
    
}

h2 {
    text-align: center;
    font-size: 250%;
    color: cornflowerblue;
    font-family: cursive;
}

p {
    word-wrap: break-word;
    text-align: left;
}

